;; ============================
;;
;; RIVER CONFIG
;; Created on 2023-10-25
;;
;; ============================

;; LOCATION: ~/.config/karabiner.edn
;; COMMAND TO ACTIVATE: goku

;; ============== LINKS ==============

;; all keys list: https://github.com/JoshuaManuel/Karabiner-Elements-Key-List

;; goku: https://github.com/yqrashawn/GokuRakuJoudo
;; karabiner: https://karabiner-elements.pqrs.org/docs

;; article
;; https://medium.com/@nikitavoloboev/karabiner-god-mode-7407a5ddc8f6
;; https://github.com/nikitavoloboev/config/blob/master/karabiner/karabiner.edn

;; good configs
;; https://gist.github.com/nikolai-cc/02f6b070972840323ae355ef847e91a6
;; https://github.com/kaushikgopal/dotfiles/blob/master/.karabiner.edn
;; https://johnlindquist.com/customize-karabiner-with-goku/
;; https://blog.rtwilson.com/karabiner-elements-and-goku-for-custom-keyboard-shortcuts-in-macos/
;; https://github.com/kiinoda/goku/blob/main/karabiner.edn
;; https://gist.github.com/rdavison/290abc3f5fe5db4a81f8f3e7164ac7a5

;; bundle id command:
;; osascript -e 'id of app "SomeApp"'

;; ============== PARAMS ==============

{
    :profiles {
        :RiverGoku {
            :default true
            :sim     100 ;; simultaneous key press threshold
            :delay   500 ;; to_delayed_action_delay_milliseconds
            :alone   1000 ;; to_if_alone_timeout_milliseconds
            :held    250 ;; to_if_held_down_threshold_milliseconds
        }
    }

    :input-sources {
        :abc { :input_source_id "^com\\.apple\\.keylayout\\.ABC$" }
        :graphite { :input_source_id "^org\\.sil\\.ukelele\\.keyboardlayout\\.graphiteangle\\.graphiteangle$" }
        :russian { :input_source_id "^com\\.apple\\.keylayout\\.RussianWin$" } ;; replaceable with { :language "ru" }
        :japanese { :input_mode_id "^com\\.apple\\.inputmethod\\.Japanese$" } ;; replaceable with { :language "ja" }
    }

    :applications {
        :chrome ["^com\\.google\\.Chrome$"]
        :alttab ["^com\\.lwouis\\.alt-tab-macos$"]
        :safari ["^com\\.apple\\.Safari$"]
        :krita ["^org\\.krita$"]

        :dota ["^com\\.valvesoftware\\.dota2$"]
        :starcraft ["^com\\.blizzard\\.starcraft2$"]
        :terraria ["^org\\.Terraria$"]
        :minecraft [:paths "\\/Contents\\/Home\\/bin\\/java$"]
    }

    :main [

        ;; ============== APPS AND GAMES ==============
        ;; these rules go first because of F keys

        {
            :des "Krita"
            :rules [
                :krita
                
                [:f1 :f1]
                [:f2 :f2]
                [:f3 :f3]
                [:f4 :f4]
                [:f5 :f5]
                [:f6 :f6]
            ]
        }

        {
            :des "Dota"
            :rules [
                :dota

                [:##caps_lock :left_control]
                [:##left_command :left_option]

                [:fn :m]

                [:!Fgrave_accent_and_tilde :!Oi]

                [:!F1 :!Oo]
                [:!F2 :!Op]
                [:!F3 :!Oopen_bracket]
                [:!F4 :!Oclose_bracket]

                [:!Of1 :j]
                [:!Of2 :k]
                [:!Of3 :l]
                [:!Of4 :semicolon]

                [:f1 :f1]
                [:f2 :f2]
                [:f3 :f3]
                [:f4 :f4]
                [:f5 :f5]
                [:f6 :f6]
                [:f7 :f7]
                [:f8 :f8]
                [:f9 :f9]
            ]
        }

        {
            :des "Starcraft 2"
            :rules [
                :starcraft

                [:##caps_lock :!Tleft_option]
                [:##left_command :left_control]

                [:f1 :f1]
                [:f2 :f2]
                [:f3 :f3]
                [:f4 :f4]
                [:f5 :f5]
                [:f6 :f6]
                [:f7 :f7]
                [:f8 :f8]
                [:f9 :f9]
                [:f10 :f10]
                [:f11 :f11]
                [:f12 :f12]
            ]
        }

        {
            :des "Minecraft"
            :rules [
                :minecraft

                [:f1 :f1]
                [:f2 :f2]
                [:f3 :f3]
                [:f4 :f4]
                [:f5 :f5]
                [:f6 :f6]
                [:f7 :f7]
                [:f8 :f8]
                [:f9 :f9]
                [:f10 :f10]
                [:f11 :f11]
                [:f12 :f12]
            ]
        }

        {
            :des "Terraria"
            :rules [
                :terraria

                [:##Cq :o] ; prevent from quitting
                [:##Cw :p]
            ]
        }

        ;; ============== FUNCTION ROW ==============

        {
            :des "Function row"
            :rules [
                [:f1 :play_or_pause] ;; F1 —> Play/Pause
                [:f2 :rewind] ;; F2 —> Rewind
                [:f3 :fast_forward] ;; F3 —> Fast forward
                [:f4 :f14] ;; F4 —> F14
                [:f5 :f15] ;; F5 —> F15

                ;; HOW TO NOT DO CAPSLOCK:
                ;; dont do :##Eslash, cant type a question mark
                ;; dont do [:right_option :slash] either, cuz capslock changes slash to question mark
                ;; dont do :!Qf12 bc capslock messes up that too
                ;; dont do :##Fright_shift, nope
                ;; the only thing that works is choosing one key like this
                [:##f6 :f16 nil { :held :caps_lock }] ;; F6 —> F16 [capslock when held]

                [:f7 :f17] ;; F7 —> F17
                [:f8 :display_brightness_decrement] ;; F8 —> Decrease brightness
                [:f9 :display_brightness_increment] ;; F9 —> Increase brightness
                [:f10 :mute] ;; F10 —> Mute
                [:f11 :volume_decrement] ;; F11 —> Decrease volume
                [:f12 :volume_increment] ;; F12 —> Increase volume
            ]
        }

        ;; ============== GENERAL ==============

        {
            :des "General"
            :rules [
                ;; --- Hyper & Semihyper ---

                [:##caps_lock :!QWEright_shift [:!extend-hold]] ;; Capslock —> Hyper

                [:##fn :!Wright_shift nil { :alone :f13 }] ;; FN -> Semihyper (Leader when alone)
                [:##right_option :fn] ;; Right Option -> FN

                ;; --- Placeholder bindings ---

                [:!QWERq :!QEf19] ;; Hyper + Q —> Placeholder + F19 (needed for no annoying hyper + q sound)
                [:!QWERescape :!QEf18] ;; Hyper + Escape —> Placeholder + F18
                [:!QWERleft_command :!QEf17] ;; Hyper + Left Command —> Placeholder + F17

                ;; --- Helper bindings ---

                [:!QWERz :!Ch] ;; Hyper + Z —> Cmd + H (hide), replace with [:!Pz :!Ch] if capslock isn't hyper

                ;; makes Fine Volume Adjustment work
                [:!SOf11 :!SOvolume_down] ;; Shift + Option + F11 -> Fine Volume Down
                [:!SOf12 :!SOvolume_up] ;; Shift + Option + F12 -> Fine Volume Up

                ;; --- Keyboard layout switching ---

                [:!QWERj { :input :abc }]
                [:!QWERk { :input :graphite }]
                [:!QWERl { :input :russian }]
                [:!QWERsemicolon { :input :japanese }]
            ]
        }

        ;; ============== Homerow modifiers ==============

        ;; {
        ;;     :des "Homerow modifiers"
        ;;     :rules [
        ;;         ;; the downside is these keys are now typed on KEY UP not DOWN

        ;;         [:a nil nil { :held :left_control :alone :a :params { :alone 100 :held 200 } }]
        ;;         [:s nil nil { :held :left_option  :alone :s :params { :alone 100 :held 200 } }]
        ;;         [:d nil nil { :held :left_shift   :alone :d :params { :alone 100 :held 200 } }]
        ;;         [:f nil nil { :held :left_command :alone :f :params { :alone 100 :held 200 } }]

        ;;         [:j nil nil { :held :right_command :alone :j :params { :alone 100 :held 200 } }]
        ;;         [:k nil nil { :held :right_shift   :alone :k :params { :alone 100 :held 200 } }]
        ;;         [:l nil nil { :held :right_option  :alone :l :params { :alone 100 :held 200 } }]
        ;;         [:semicolon nil nil { :held :right_control :alone :semicolon :params { :alone 100 :held 200 } }]
        ;;     ]
        ;; }

        ;; ============== Extend layer ==============

        {
            :des "Extend layer activation"
            :rules [[:##right_command ["extend-hold" 1] nil { :afterup ["extend-hold" 0] }]]
        }

        {
            :des "Extend layer"
            :rules [
                :extend-hold

                ;; arrow navigation
                [:##k :left_arrow]
                [:##semicolon :right_arrow]
                [:##o :up_arrow]
                [:##l :down_arrow]
                [:##i :!Oleft_arrow] ;; word
                [:##p :!Oright_arrow]
                [:##m :!Cleft_arrow] ;; line
                [:##period :!Cright_arrow]

                [:##9 :home]
                [:##0 :end]

                [:##y :page_up]
                [:##h :page_down]
                
                [:##j :escape]
                [:caps_lock :escape]
                [:##g :!Ff] ;; fullscreen
                [:##a :!Ca]

                [:##f :delete_or_backspace] ;; delete character
                [:##d :!Odelete_or_backspace] ;; delete word
                [:##s :!Cdelete_or_backspace] ;; delete line

                [:##r :!Fdelete_or_backspace] ;; forward delete character
                ;; [:##e :!FOdelete_or_backspace] ;; forward delete word (doesnt work)
                [:##e :!FCdelete_or_backspace] ;; forward delete line

                [:##delete_or_backspace :!Odelete_or_backspace]

                ;; [:left_control :delete_or_backspace]
                ;; [:tab :!Odelete_or_backspace]
                ;; [:escape :escape]
                ;; [:##semicolon :!Fdelete_or_backspace]
                ;; [:##h :delete_or_backspace]
                ;; [:##j :left_arrow]
                ;; [:##l :right_arrow]
                ;; [:##n :!Odelete_or_backspace]
                ;; [:##m :!Oleft_arrow]
                ;; [:##period :!Oright_arrow]
                ;; [:##slash :!FOdelete_or_backspace]
                ;; [:##comma :##down_arrow]
                ;; [:##i :##up_arrow]
                ;; [:##o :!Cright_arrow]
                ;; [:##u :!Cleft_arrow]
                ;; [:##y :!Cdelete_or_backspace]
                ;; [:##p :!FCdelete_or_backspace]
                ;; [:##k :escape]
            ]
        }

        ;; ============== GRAPHITE ==============

        {
            :des "Graphite bindings"
            :rules [
                :graphite

                ;; Desktop Navigation
                [:!QWERa :!Ohyphen]
                [:!QWERs :!Oequal_sign]

                ;; bring some QWERTY shortcuts back
                [:!C#TOSz :!C#TOSt] ;; cmd-Z
                [:!C#TOSq :!C#TOSb] ;; cmd-Q
                [:!C#TOSw :!C#TOSr] ;; cmd-W
            ]
        }

        {
            :des "Qwerty + Graphite"
            :rules [
                :!graphite

                ;; Desktop Navigation
                [:!QWERa :!Oopen_bracket]
                [:!QWERs :!Oclose_bracket]
            ]
        }
    ]
}